wien/.idea/modules.xml
wien/.idea/wien.iml
wien/.idea/workspace.xml
adlerweg/.idea/adlerweg.iml
adlerweg/.idea/workspace.xml
adlerweg/.idea/modules.xml
adlerweg/.idea/vcs.xml
adlerweg/index2.html
projekt/.idea/vcs.xml
projekt/js/exif-js/LICENSE.md
projekt/konzept.docx