/*First style sheet*/
body {
font-family: fantasy;
}
h1 {
	color: darkblue;
	font-family: sans-serif;
}
h2,h3 {
	color: purple;
	font-family: serif;
}
h2 {
	font-style: italic;
}
figure {
	border: 2px dotted blue;
	padding: 1.5em;
}
table {
width:100%
}
/*classes are started with a dot*/
.center {
	text-align: center;
	color: darkblue;
	width: 50%
}
/*IDs are started with a # */
#figure1 {
	background-color: yellow;
	width: 50%;
}